<%- include('../partials/header') %>
<h2><%= user.name %>'s Pets</h2>
<h3>------------------------------</h3>
<!-- A forEach loop for each pet belonging to the selected user -->
<% pets.forEach((pet) => { %>
  <!-- Each pet name is being rendered within a link to the pet's show page -->
  <h2>Name: <a href="/pets/<%= pet._id %>"><%= pet.name %></h2></a>
  <h3>Type: <%= pet.type %></h3>
  <h3>------------------------------</h3>
<% }) %>

<%- include('../partials/footer') %>
